<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8" />
<title>Liste de courses</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/courses.css') }}">
</head>
<body>

<h1 class="app-name">🍽️ WellBeing</h1>
<h2>Liste des ingrédients</h2>
<div id="ingredientsList">Chargement...</div>
<button id="exportBtn">Exporter en PDF 📄</button>

<script>
  const recettes = {{ recettes|tojson }};
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>
<script src="{{ url_for('static', filename='js/courses.js') }}"></script>
</body>
</html>

